extends template
block content
    div
        | Ooops. Looks like you forgot a password
        br
        | Pass the link to restore
        div
            a(href=frontendUrl + `/password/forgot/` + token) HERE
